@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ukraine, Dnipro city<br />
    Topol-1, 49000<br />
    <abbr title="Phone">Phone:</abbr>
    (+38) 067 633 26 37, 099 287 00 43
</address>

<address>
    <strong>Email:</strong> Hlib.Bondarev@gmail.com<br />
    <strong>Telegram:</strong> HlibBondarev<br />
    <strong>Skype:</strong> gleb_dnepr-74
</address>