@using SiteWithAuthentication.BLL.Infrastructure
@model OperationDetails

<h2>@Model.Property:</h2>
<p>@Model.Message</p>

@section scripts {
    <script>
    $(document).ready(function () {
        // Prevent return to previous page.
        function removeBack() {
            history.pushState(null, null, '');
            window.addEventListener('popstate', function () {
                history.pushState(null, null, '');
            });
        };
        removeBack();
    })
    </script>
}